<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> SGP - Proyectos</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="/static/css/styles.css" rel="stylesheet" type="text/css" />

<SCRIPT language="javascript">
var count = "1";
function addRow() {
	  
  // Borro la primera fila
  if (count == "1"){
  document.getElementById("tablaCasosUso").deleteRow(1);
  };
  var tbody = document.getElementById("tablaCasosUso").getElementsByTagName("TBODY")[0];
      // creo una fila
      var row = document.createElement("TR");
      // celda 1
      var td1 = document.createElement("TD")
      var strHtml1 = "<input type=\"text\" name=\"caso\"></input>";
      td1.innerHTML = strHtml1.replace(/!count!/g,count);
      // celda 2
      var td2 = document.createElement("TD")
      var strHtml2 = "<input type=\"text\" name=\"actor\"></input>";
      td2.innerHTML = strHtml2.replace(/!count!/g,count);
      // celda 3
      var td3 = document.createElement("TD")
      var strHtml3 = "<img src=\"/static/images/eliminar.png\" class=\"vacia\" width=\"20\" height=\"20\" border=\"0\" align=\"center\" onclick=\"eliminarFilaVacia()\" style=\"cursor:pointer;\">";
      td3.innerHTML = strHtml3.replace(/!count!/g,count);
      
      // agrego
      row.appendChild(td1);
      row.appendChild(td2);
      row.appendChild(td3);
      
      count = parseInt(count) + 1;
      // agrego a la tabla
      tbody.appendChild(row);
	
}

function deleteRow() {
  var a = document.getElementById("tablaCasosUso").rows.length;
  document.getElementById("tablaCasosUso").deleteRow(a-1);
  	
} 

function eliminarFila(id) {
	var x;
	var r=confirm("¿Está seguro que desea eliminar este Caso de Uso?");
	if (r==true) {
  		var string1 = "/delete_casos_uso/{{id}}/{{rol}}/{{sistema.id}}/";
      window.location.assign(string1 + id)
  	}
	else {
  		x="You pressed Cancel!";
  	}
	document.getElementById("demo").innerHTML=x;
}

function eliminarFilaVacia() {
	var x;
	var r=confirm("¿Está seguro que desea eliminar este Caso de Uso?");
	if (r==true) {
  		var a = document.getElementById("tablaCasosUso").rows.length;
  		document.getElementById("tablaCasosUso").deleteRow(a-1);
  	}
	else {
  		x="You pressed Cancel!";
  	}
	document.getElementById("demo").innerHTML=x;
}

    </SCRIPT>
</HEAD>
</head>
<body>
<!-- Save for Web Slices (index.psd) -->
<table width="800" border="0" align="center" cellpadding="0" cellspacing="0" id="table_01">

	<tr>
		<td width="800" height="33" colspan="22" align="left" valign="middle" bgcolor="#efefef" class="text3" style="padding-left:20px">

		    <script language="javascript"> 
		    <!-- 
		    today = new Date(); 
		    document.write(" Fecha: ", today.getDate(),"/",today.getMonth()+1,"/",today.getYear());
		    document.write(" Hora: ", today.getHours(),":",today.getMinutes()); 
		    //--> 
		    </script> 
		</td>
		<td width="95" height="33" colspan="3" align="left" valign="top" bgcolor="#efefef" ><a href = "/cerrar"><img src="/static/images/logout.png" alt="" width="95" height="33" border="0" /></a></td>

	</tr>

	<tr>
		<td width="800" height="49" colspan="25" align="center" valign="middle" class="text2" bgcolor="#a7a7a7"><a href = "/principal/">INICIO</a> | <a  href = "/perfil">PERFIL</a> | <a href = "/proyectos">PROYECTOS</a> | <a>NOSOTROS</a> | <a>SOPORTE</a> | <a>CONTACTO</a> <br />
	</tr>

	<tr>
		<td width="800" height="140" colspan="25" align="left" valign="top" bgcolor="#0099CC">
		<img src="/static/images/logo.jpg" width="220" height="100" alt="" border="0" />
		<img src="/static/images/lisi.jpg" width="140" height="110"alt="" border="0" align="right" />
		
		<p id="titulo" style=" color:white; line-height:200%; font-size:15px;" >SISTEMA DE GESTIÓN DE PRUEBAS Y REQUERIMIENTOS</p>
		</td>
			
	</tr>

<tr>

		{% if rol == "Gerente de Proyecto" %}	

		<td width="800" height="49" colspan="25" align="center" valign="middle" class="text2" bgcolor="#a7a7a7"><a href='/sistema/{{id}}/{{rol}}/{{sistema.id}}/0'>Tabla de Caracteristicas</a> | <a href='/requerimientos/{{id}}/{{rol}}/{{sistema.id}}/0'>Tabla de Requerimientos</a> | <a href='/casos_uso/{{id}}/{{rol}}/{{sistema.id}}/0'>Resumen de Casos de Uso</a> | <a href='/proyecto/{{id}}/{{rol}}'>Regresar al proyecto</a> <br />	
		</td>
		{% endif %}
</tr>

	<tr>
		<td width="800" colspan="25" valign="middle" nowrap="nowrap" bgcolor="#efefef" class="text1">

		<h2>Sistema: {{sistema.nombre}}</h2>
		<p>Descripción: {{sistema.descripcion}}</p>		
		  <hr>

		
		  <section class='contenido'  style="padding-left:20px; padding-right:20px">
	
		<h3> Resumen Casos de Uso {{dato.caso}}</h3>
		<br>
    <p>Requerimiento: {{dato.requerimiento}}</p>
    <p>Descripcion: {{dato.descripcion}}</p>
    <p>Precondicion: {{dato.precondicion}}</p>
    {%if dato.detalle%}
    <a href='/casos_uso_detalle/{{id}}/{{rol}}/{{sistema.id}}/{{dato.id}}'>Ver escenarios de {{dato.caso}}</a>
    {%endif%}
<br></br> 
<form id='formulario_req' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
<table  id="tablaCasosUso" border=none  width="100%" cellpadding="3" cellspacing="3" style="text-align:center ">
	<tr>
		<td style="background-color:#09C; border-radius:10px">Caso de Uso</td>
		<td style="background-color:#09C; border-radius:10px">Actor</td>
	</tr>
		{% for caso in casos %}
	<tr>
		<td><a id="siguiente" href='/casos_uso/{{id}}/{{rol}}/{{sistema.id}}/{{caso.id}}' >{{caso.caso}}</a></td>
		<td>{{caso.actor}}</td>
		<td style="border:0; width:50px">
			<img src="/static/images/eliminar.png" width="20" height="20" alt="" border="0" align="center" onclick="eliminarFila({{caso.id}})" style="cursor:pointer;"/>
		</td>
	</tr>
		{% empty %}
	<tr>
		<td>No existen casos de uso para este sistema</td>
	</tr>
		{% endfor %}

</table>
<input type='submit' value='Guardar' />
</form>
<img src="/static/images/plus.png" width="30" height="30" alt="" border="0" align="right" onclick="addRow()" />
<br></br>
	<tr>
		<td width="800" height="49" colspan="27" align="center" valign="middle" class="text2" style="background:url(/static/images/b_footer.jpg)">
		<span class="text3">Copyright &copy; Sistema de Gestión de Pruebas y Requerimientos / Taller de Desarrollo </span><br/>
		</td>
	</tr>

</table>
</body>
</html>

