<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> SGP - Proyectos</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="table_01">

	<tr>
		<td width="100%" height="33" align="left" valign="middle" bgcolor="#efefef" class="text3" style="padding-left:20px">

		    <script language="javascript"> 
		    <!-- 
		    today = new Date(); 
		    document.write(" Fecha: ", today.getDate(),"/",today.getMonth()+1,"/",today.getYear());
		    document.write(" Hora: ", today.getHours(),":",today.getMinutes()); 
		    //-->

                 var count = "1";
function addRow() {

//  // Borro la primera fila
//  if (count == "1"){
//  document.getElementById("tablaSistema").deleteRow(1);
//  };
  var tbody = document.getElementById("contenedor").getElementsByTagName("TBODY")[0];
      // creo una fila
      var row = document.createElement("TR");
      // celda 1
      var td1 = document.createElement("TD")
      var strHtml1 = "<input type=\"text\" name=\"id\"></input>";
      td1.innerHTML = strHtml1.replace(/!count!/g,count);
      // celda 2
      var td2 = document.createElement("TD")
      var strHtml2 = "<input type=\"text\" name=\"nombre\"></input>";
      td2.innerHTML = strHtml2.replace(/!count!/g,count);
      // celda 3
      var td3 = document.createElement("TD")
      var strHtml3 = "<input type=\"text\" name=\"esperado\"></input>";
      td3.innerHTML = strHtml3.replace(/!count!/g,count);
    // celda 4
      var td4 = document.createElement("TD")
      var strHtml4 = "<select name=\"nivel\"><option value=\"Unitaria\">Unitaria</option><option value=\"Integracion\">Integracion</option><option value=\"Aceptacion\">Aceptacion</option><option value=\"Sistema\">Sistema</option><option value=\"Sist/Acept\">Sist/Acept</option></select>";
      td4.innerHTML = strHtml4.replace(/!count!/g,count);
    // celda 5
      var td5 = document.createElement("TD")
      var strHtml5 = "<input type=\"text\" name=\"tipo\"></input>";
      td5.innerHTML = strHtml5.replace(/!count!/g,count);
      // celda 4
      var td6 = document.createElement("TD")
      var strHtml6 = "<img src=\"/static/images/eliminar.png\" class=\"vacia\" width=\"20\" height=\"20\" border=\"0\" align=\"center\" onclick=\"eliminarFilaVacia()\" style=\"cursor:pointer;\">";
      td6.innerHTML = strHtml6.replace(/!count!/g,count);

      // agrego
      row.appendChild(td1);
      row.appendChild(td2);
      row.appendChild(td3);
      row.appendChild(td4);
    row.appendChild(td5);
    row.appendChild(td6);

      count = parseInt(count) + 1;
      // agrego a la tabla
      tbody.appendChild(row);

}

function deleteRow() {
  var a = document.getElementById("tablaSistema").rows.length;
  document.getElementById("tablaSistema").deleteRow(a-1);

}

function eliminarFila(id) {
	var x;
	var r=confirm("¿Está seguro que desea eliminar este Escenario?");
	if (r==true) {
  	//	var string1 = "/delete_caracteristica/{{id}}/{{rol}}/{{sistema.id}}/";
    //  window.location.assign(string1 + id)
  	}
	else {
  		x="You pressed Cancel!";
  	}
	document.getElementById("demo").innerHTML=x;
}

function eliminarFilaVacia() {
	var x;
	var r=confirm("¿Está seguro que desea eliminar este Escenario?");
	if (r==true) {
  		var a = document.getElementById("contenedor").rows.length;
  		document.getElementById("contenedor").deleteRow(a-1);
  	}
	else {
  		x="You pressed Cancel!";
  	}
	document.getElementById("demo").innerHTML=x;
}

		    </script> 
		</td>
		<td width="95" height="33" align="left" valign="top" bgcolor="#efefef" ><a href = "/cerrar"><img src="/static/images/logout.png" alt="" width="95" height="33" border="0" /></a></td>

	</tr>

	<tr>
		<td width="100%" height="49" colspan="25" align="center" valign="middle" class="text2" bgcolor="#a7a7a7"><a href = "/principal/">INICIO</a> | <a  href = "/perfil">PERFIL</a> | <a href = "/proyectos"> MIS PROYECTOS</a> | <a href="/crear_proyecto"> CREAR PROYECTO </a> | <a href="/crear_metodologia"> METODOLOGIAS </a> | <a>NOSOTROS</a> | <a>CONTACTO</a> <br />
	</tr>

	<tr>
		<td width="100%" height="140" colspan="25" align="left" valign="top" bgcolor="#0099CC">
		<img src="/static/images/logo.jpg" width="220" height="100" alt="" border="0" />
		<img src="/static/images/lisi.jpg" width="140" height="110"alt="" border="0" align="right" />
		
		<p id="titulo" style=" color:white; line-height:200%; font-size:15px;" >SISTEMA DE GESTIÓN DE PRUEBAS Y REQUERIMIENTOS</p>
		</td>
			
	</tr>

	<tr>
		<td width="100%" colspan="25" valign="middle" nowrap="nowrap" bgcolor="#efefef" class="text1">

		<h2> Casos de Prueba del escenario: {{escenario.numero}}</h2>	
		  <hr>


	<section class='contenido' style="padding-left:20px">
		<br></br>  
		<div id="menu">
		<ul>
			<br></br>
			<li><a href='/caso_prueba_crear/{{id}}/{{rol}}/{{id_sistema}}/{{id_caso}}/{{id_escenario}}'>Configurar Formulario de Casos de Prueba</a></li>
		  <br></br>    
		</ul>
        {%if casoprueba.detalle %}
		<h3> Caso de prueba: {{casoprueba.nombre}} id: {{casoprueba.id}} </h3>
    <p>Fecha de Creacion: {{detalle.fecha}}</p>
    <p>Version: {{detalle.version}} Autor: {{detalle.autorcaso}}</p>
    <p>Ambiente: {{detalle.ambiente}} Probador: {{detalle.probador}} </p>
    <p>Condicion: {{detalle.condicion}} </p>
    <p>Criterios: {{detalle.criterios}} </p>
     <h2>Ejecuciones</h2>
    <table border=none width="100%" cellpadding="3" cellspacing="3" style="text-align:center ">
        <th>Paso</th>
        <th>Condición</th>
        <th>Valor(es)</th>
        <th>Resultado Esperado</th>
        <th>Resultado Obtenido</th>
        {%for ejecucion in ejecuciones %}
        <tr>
            <td>{{ejecucion.paso}}</td>
            <td>{{ejecucion.condicion}}</td>
            <td>{{ejecucion.valor}}</td>
            <td>{{ejecucion.resultadoesp}}</td>
            <td>{{ejecucion.resultadoobt}}</td>
        </tr>
        {%endfor%}
        </table>
       {%endif%}
	</section>
	
	<br></br>

<form id='formulario_req' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
        <h2>Casos</h2>
		<table border=none id="contenedor" width="100%" cellpadding="3" cellspacing="3" style="text-align:center ">
			<tr>
				<td style="background-color:#09C; border-radius:10px">Id</td>
				<td style="background-color:#09C; border-radius:10px">Nombre</td>
				<td style="background-color:#09C; border-radius:10px">Resultado Esperado</td>
        <td style="background-color:#09C; border-radius:10px">Nivel de Prueba</td>
        <td style="background-color:#09C; border-radius:10px">Tipo de Prueba</td>
        {%for titulo in titulos%}
        <td style="background-color:#09C; border-radius:10px">{{titulo.titulo}}</td>
        {%endfor%}
			</tr>

				{% for dato in lista %}
				<tr>
				<td>{{dato.0.idcaso}}</td>
				<td><a id="siguiente" href='/caso_prueba_detalle/{{id}}/{{rol}}/{{id_sistema}}/{{id_caso}}/{{dato.0.id}}'>{{dato.0.nombre}}</a></td>
				<td> {{dato.0.resultado}}</td>
				<td> {{dato.0.nivel}}</td>
				<td> {{dato.0.tipo}}</td>
        {%for valor  in dato.1 %}		
        <td>{% if valor == "N/A" %}N/A{%else%} {	{valor.valor}} {%endif%}</td>
        {%endfor%}
                    <td style="border:0; width:50px">
					<img src="/static/images/eliminar.png" width="20" height="20" alt="" border="0" align="center" onclick="eliminarFila({{dato.id}})" style="cursor:pointer;"/>
				</td>
				</tr>	 
				{%endfor%}

		</table>

<input type='submit' value='Guardar' />
</form>
             <img src="/static/images/plus.png" width="30" height="30" alt="" border="0" align="right" id="boton1" style="cursor:pointer;" />
		<center>
		<a id="siguiente" href='/casos_uso_detalle/{{id}}/{{rol}}/{{id_sistema}}/{{escenario.caso.id}}'><img src="/static/images/back.png" width="30" height="30"/> Volver Atrás</a>
		</center>

	<tr>
		<td width="100%" height="49" colspan="27" align="center" valign="middle" class="text2" style="background:url(/static/images/b_footer.jpg)">
		<span class="text3">Copyright &copy; Sistema de Gestión de Pruebas y Requerimientos / Taller de Desarrollo </span><br/>
		</td>
	</tr>

</table>
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript">
            $(document).ready(function (){
                //Aqui asignamos el click al elemento <a>
                $("#boton1").click(function (){
                	$('#contenedor tr:last').after("<tr><td><input type=\"text\" name=\"id\"></td><td><input type=\"text\" name=\"nombre\"></td><td><input type=\"text\" name=\"esperado\"></td><td><select name=\"nivel\"><option value=\"Unitaria\">Unitaria</option><option value=\"Integracion\">Integracion</option><option value=\"Aceptacion\">Aceptacion</option><option value=\"Sistema\">Sistema</option><option value=\"Sist/Acept\">Sist/Acept</option> </td><td><input type=\"text\" name=\"tipo\"></td>{%for titulo in titulos%}{%if titulo.activo %}<td><input type=\"text\" name=\"{{titulo.titulo}}\">{%else%}<td>N/A</td>{%endif%}</td>{%endfor%}<td><img src=\"/static/images/eliminar.png\" class=\"vacia\" width=\"20\" height=\"20\" border=\"0\" align=\"center\" onclick=\"eliminarFilaVacia()\" style=\"cursor:pointer;\"></td></tr>");
                });
});
</script>
</body>
</html>

