<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset='utf-8>
	<title>Perfil</title>
	<style>
	</style>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href='/'>Bienvenido {{usuario}}</a></li>
				<li><a href='/principal'>Home</a></li>
				<li><a href='/perfil'>Perfil</a></li>
				<li><a href='/proyectos'>Proyectos</a></li>
				<li><a href='/'>opcion2</a></li>
				<li><a href='/cerrar'>Cerrar Sesion</a></li>
			</ul>
		</nav>
		<hr>
	</header>

	<section class='contenido'>
	
		<div>
			<nav>
				<ul>
				  <li><a href='/proyecto/{{id}}/{{rol}}'>Regresar al proyecto</a></li>
				</ul>
			</nav>
		<div>

		<h2>Iteracion {{iteracion.numero}} del proyecto {{iteracion.proyecto.nombre}}</h2>
		<p>objetivo: {{iteracion.objetivo}}</p>
		<p>criterio: {{iteracion.criterio}}</p>
		<p>Plan de Iteracion: <a href='/media/{{iteracion.planIteracion.url}}'>Descargar</a>
		<p>Plan de evaluacion de iteración: <a href='/media/{{iteracion.planEvaIteracion.url}}'>Descargar</a></p>
		<p>Estado: {{iteracion.status}}</p>
	</section>
	<footer>
		<p>Proyecto taller de desarrollo &copy;2013</p>
	</footer>
</body>
</html>
