<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset='utf-8>
	<title>Perfil</title>
	<style>
	</style>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href='/'>Bienvenido {{usuario}}</a></li>
				<li><a href='/principal'>Home</a></li>
				<li><a href='/perfil'>Perfil</a></li>
				<li><a href='/'>opcion1</a></li>
				<li><a href='/'>opcion2</a></li>
				<li><a href='/cerrar'>Cerrar Sesion</a></li>
			</ul>
		</nav>
		<hr>
	</header>

	<section class='contenido'>
		<h2>Proyectos</h2>
		{% for proy in proyectos %}
		<ul>
			<li><strong>{{ proy.proyecto.nombre }}
		</ul>
		{% endfor %}
	</section>
	<footer>
		<p>Proyecto taller de desarrollo &copy;2013</p>
	</footer>
</body>
</html>
