<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> SGP - Proyectos</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="/static/css/styles.css" rel="stylesheet" type="text/css" />

</head>
<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" id="table_01">

	<tr>
		<td width="100%" height="33" align="left" valign="middle" bgcolor="#efefef" class="text3" style="padding-left:20px">

		    <script language="javascript"> 
		    <!-- 
		    today = new Date(); 
		    document.write(" Fecha: ", today.getDate(),"/",today.getMonth()+1,"/",today.getYear());
		    document.write(" Hora: ", today.getHours(),":",today.getMinutes()); 
		    //--> 
		    </script> 
		</td>
		<td width="95" height="33" align="left" valign="top" bgcolor="#efefef" ><a href = "/cerrar"><img src="/static/images/logout.png" alt="" width="95" height="33" border="0" /></a></td>

	</tr>

	<tr>
		<td width="100%" height="49" colspan="25" align="center" valign="middle" class="text2" bgcolor="#a7a7a7"><a href = "/principal/">INICIO</a> | <a  href = "/perfil">PERFIL</a> | <a href = "/proyectos"> MIS PROYECTOS</a> | <a href="/crear_proyecto"> CREAR PROYECTO </a> | <a href="/crear_metodologia"> METODOLOGIAS </a> | <a>NOSOTROS</a> | <a>CONTACTO</a> <br />
	</tr>

	<tr>
		<td width="100%" height="140" colspan="25" align="left" valign="top" bgcolor="#0099CC">
		<img src="/static/images/logo.jpg" width="220" height="100" alt="" border="0" />
		<img src="/static/images/lisi.jpg" width="140" height="110"alt="" border="0" align="right" />
		
		<p id="titulo" style=" color:white; line-height:200%; font-size:15px;" >SISTEMA DE GESTIÓN DE PRUEBAS Y REQUERIMIENTOS</p>
		</td>
			
	</tr>

<tr>

		{% if rol == "Gerente de Proyecto" %}	

		<td width="100%" height="49" colspan="25" align="center" valign="middle" class="text2" bgcolor="#a7a7a7"><a href='/crear_proyecto_equipo/{{proyecto.id}}'>Agregar Equipo</a> | <a href='/eliminar_proyecto/{{proyecto.id}}'>Eliminar</a> | <a href='/editar/{{proyecto.id}}'>Editar</a> <br />	
		</td>
		{% endif %}
</tr>
	<tr>

		<td width="100%" colspan="25" valign="middle" nowrap="nowrap" bgcolor="#efefef" class="text1">

		<h2>Proyectos</h2>
		<h3>Detalle Proyecto<h3>
		  <hr>

		
		  <section style="padding-left:20px">

			<p>Nombre del Proyecto: {{proyecto.nombre}}</p>
			<p>Fecha de Inicio: {{proyecto.fechaInicio}}</p>
			<p>Fecha Final: {{proyecto.fechaFin}}</p>
			<p>Descripcion: {{proyecto.descripcion}}</p>
			<p>Metodologia:	{{proyecto.metodologia}}</p>
			<p>Recursos: {{proyecto.recursos}}</p>
			<p>Iteraciones: {{proyecto.iteraciones}}</p>
			<br></br>

		      <div style="float: right width: 40%;">
		      <h3>Iteración:</h3>
		      {% if proyecto.iteActual == 0 %}
			<p style="padding-left:20px">No hay iteración en proceso</p>
			<p style="padding-left:20px"> <a id="siguiente" href='/proyecto_iterar/{{proyecto.id}}/{{rol}}'>Activar Proyecto</a>
		      {% elif proyecto.iteActual > 0 %}

		      <p style="padding-left:20px">Iteración actual: {{iteracion.numero}} </p>
		      <p style="padding-left:20px">Criterio de evaluación: {{iteracion.criterio}} </p>
		      <p style="padding-left:20px">Status: {{iteracion.status}} </p>
		      <p style="padding-left:20px">Plan de iteración: <a id= "siguiente" href='/media/{{iteracion.planIteracion.url}}'>Descargar</a></p>
		      <p style="padding-left:20px">Plan de evaluación de iteración: <a id= "siguiente" href='/media/{{iteracion.planEvaIteracion.url}}'>Descargar</a></p>
		      <p style="padding-left:20px"> <a id= "siguiente" href='/proyecto_iterar/{{proyecto.id}}/{{rol}}'>Iterar</a></p>

		      {% elif proyecto.iteActual < 0 %}
		      <p style="padding-left:20px">Todas las iteraciones fueron terminadas</p>
		      {% endif %}		

		      <br></br>

		      <h3>Iteraciones del proyecto:</h3>
		      <ul>
		      {% for ite in iteraciones %}
		      <li style="padding-left:20px"><a id="siguiente" href='/iteracion/{{proyecto.id}}/{{rol}}/{{ite.id}}'>Iteracion {{ite.numero}}</a></li>
		      {%endfor%}
		      </div>
		      <div>

		      <br></br>

		      <h3>Sistemas Asociados:</h3>
		      <ul>
		      {%for sistema in sistemas%}
			      <li style="padding-left:20px"><a id="siguiente" href='/sistema/{{proyecto.id}}/{{rol}}/{{sistema.sistema.id}}/0'>{{sistema.sistema.nombre}}</a></li>
		{% empty %}
	
			      <p style="padding-left:20px">No existen sistemas para este Proyecto </p>

		      {%endfor%}
		      </ul>
			<br></br> 
		  </section>
		
		</td>

	</tr>


	<tr>
		<td width="100%" height="49" colspan="27" align="center" valign="middle" class="text2" style="background:url(/static/images/b_footer.jpg)">
		<span class="text3">Copyright &copy; Sistema de Gestión de Pruebas y Requerimientos / Taller de Desarrollo </span><br/>
		</td>
	</tr>
</table>
</body>
</html>


