<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset='utf-8>
	<title>Perfil</title>
	<style>
	</style>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href='/'>Bienvenido {{usuario}}</a></li>
				<li><a href='/principal'>Home</a></li>
				<li><a href='/perfil'>Perfil</a></li>
				<li><a href='/proyectos'>Proyectos</a></li>
				<li><a href='/'>opcion2</a></li>
				<li><a href='/cerrar'>Cerrar Sesion</a></li>
			</ul>
		</nav>
		<hr>
	</header>

	<section class='contenido'>
	
		<div>
			<nav>
				<ul>
				  <li><a href='/sistema/{{id}}/{{rol}}/{{sistema.id}}'>Tabla de Caracteristicas</a></li>
				  <li><a href='/crear_requerimiento/{{id}}/{{rol}}'>Tabla de Requerimientos</a></li>
				  <li><a href='/crear_requerimiento/{{id}}/{{rol}}'>Resumen de Casos de Uso</a></li>
				  <li><a href='/crear_requerimiento/{{id}}/{{rol}}'>Detalle de Casos de Uso</a></li>
				  <li><a href='/proyecto/{{id}}/{{rol}}'>Regresar al proyecto</a></li>
				</ul>
			</nav>
		<div style="float:left;  width: 40%;">

		<h2>{{sistema.nombre}}</h2>
		<p>{{sistema.descripcion}}
		</div>
		<div style="float:right;  width: 40%;">
		<a href='/caracteristica_crear/{{id}}/{{rol}}/{{sistema.id}}'>Crear Caracteristica</a>
		<ul>
		{% for dato in caracteristica %}
			<li>{{dato.nombre}} {{dato.precedencia}} {{dato.prioridad}}</li>
			{% empty %}
			<li>No existen caracteristicas para este sistema</li>
		{%endfor%}
		</ul>
	</section>
	<footer>
		<p>Proyecto taller de desarrollo &copy;2013</p>
	</footer>
</body>
</html>
